/* -------------------------------- 

NOTICE

-------------------------------- */
.notice {
    position: fixed;
    width: 100%;
    pointer-events: none;
    z-index: var(--z-index-fixed-element, 10)
}

.notice__banner {
    pointer-events: auto
}

.notice__close-btn {
    --size: 32px;
    display: flex;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.5);
    color: var(--color-bg);
    transition: 0.2s
}

.notice__close-btn:hover {
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.7)
}

.notice__close-btn .icon {
    --size: 16px
}

.notice--hide {
    opacity: 0;
    visibility: hidden
}

@media screen and (prefers-reduced-motion: no-preference) {
    .notice {
        transition: opacity 0.3s, visibility 0s 0.3s
    }

    .notice__banner {
        transition: transform 0.3s
    }

    .notice--hide .notice__banner {
        transform: translateY(20px)
    }
}


.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    background: var(--color-bg-dark);
    padding: var(--space-2xs) var(--space-sm);
    border-radius: var(--radius-md);
    font-size: 1em;
    font-weight: 500;
    color: var(--color-contrast-higher);
    text-decoration: none;
    line-height: 1.2;
    cursor: pointer;
    transition: 0.2s;
    will-change: transform;
}

.btn--primary {
    background: var(--color-primary);
    box-shadow: inset 0 1px 0 hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.15), 0 1px 3px hsla(var(--color-primary-darker-h), var(--color-primary-darker-s), var(--color-primary-darker-l), 0.25), 0 2px 6px hsla(var(--color-primary-darker-h), var(--color-primary-darker-s), var(--color-primary-darker-l), 0.1), 0 6px 10px -2px hsla(var(--color-primary-darker-h), var(--color-primary-darker-s), var(--color-primary-darker-l), 0.25);
    color: var(--color-white);
}

#cookie_banner {
    display: none;
    /* Hide the banner by default */
}

/* -------------------------------- 

Download List

-------------------------------- */
.dow-list {
    display: grid;
    gap: var(--space-xs)
}

.dow-list__item {
    border-radius: var(--radius-md);
    background: var(--color-bg-light);
    box-shadow: var(--inner-glow), var(--shadow-ring), var(--shadow-xs);
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs)
}

@media (min-width: 32rem) {
    .dow-list__item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }
}

.dow-list__title {
    font-size: var(--text-base-size);
    font-weight: 600;
    line-height: 1;
    margin-bottom: var(--space-2xs)
}

.dow-list__metadata-list {
    display: flex;
    align-items: center;
    font-size: var(--text-xs);
    color: var(--color-contrast-medium);
    line-height: 1
}

.dow-list__metadata-list>* {
    display: flex;
    align-items: center
}

.dow-list__metadata-list>*:not(:last-child)::after {
    /* dot separator */
    content: "";
    display: block;
    flex-shrink: 0;
    --size: 5px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: currentColor;
    margin: 0 var(--space-xs);
    opacity: 0.5
}

/* animated button */
.dow-list__btn {
    --hover-transition-duration: .3s;
    overflow: hidden
}

.dow-list__btn:hover .dow-list__btn-label,
.dow-list__btn.dow-list__btn--is-loading .dow-list__btn-label {
    transform: scale(0.5);
    opacity: 0
}

.dow-list__btn:hover .dow-list__icon-wrapper,
.dow-list__btn.dow-list__btn--is-loading .dow-list__icon-wrapper {
    transform: translateY(0)
}

.dow-list__btn--reset .dow-list__btn-label,
.dow-list__btn--reset:hover .dow-list__btn-label {
    transform: scale(1);
    opacity: 1
}

.dow-list__btn--reset .dow-list__icon-wrapper,
.dow-list__btn--reset:hover .dow-list__icon-wrapper {
    transform: translateY(100%)
}

.dow-list__btn--reset .dow-list__icon-group *,
.dow-list__btn--reset:hover .dow-list__icon-group * {
    transition: none !important;
    animation: none !important
}

.dow-list__btn-label {
    transition: opacity var(--hover-transition-duration), transform var(--hover-transition-duration)
}

.dow-list__icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform var(--hover-transition-duration)
}

.dow-list__icon {
    --size: 20px;
    display: block;
    width: 20px;
    height: 20px
}

.dow-list__icon .dow-list__icon-group>*:nth-child(1) {
    /* arrow main leg */
    stroke-dashoffset: 0;
    stroke-dasharray: 16;
    transition: stroke-dashoffset 0.4s 0.3s var(--ease-in)
}

.dow-list__icon .dow-list__icon-group>*:nth-child(2),
.dow-list__icon .dow-list__icon-group *:nth-child(3) {
    /* arrow smaller legs */
    opacity: 1;
    transform: rotate(0);
    transition: transform 0.3s var(--ease-out), opacity 0s 0.3s
}

.dow-list__icon .dow-list__icon-group>*:nth-child(4) {
    /* loading circle */
    stroke-dashoffset: 50;
    stroke-dasharray: 50
}

.dow-list__icon .dow-list__icon-group>*:nth-child(5) {
    /* checkmark final loading circle */
    stroke-dashoffset: 38;
    stroke-dasharray: 38;
    transition: stroke-dashoffset 0.7s
}

.dow-list__icon .dow-list__icon-group>*:nth-child(6) {
    /* checkmark */
    stroke-dashoffset: 24;
    stroke-dasharray: 24;
    transition: stroke-dashoffset 0.5s 0.2s var(--ease-out)
}

.dow-list__icon .dow-list__icon-group>*:nth-child(7) {
    /* exclamation point final loading circle */
    stroke-dashoffset: 25;
    stroke-dasharray: 25;
    transition: stroke-dashoffset 0.45s
}

.dow-list__icon .dow-list__icon-group>*:nth-child(8) {
    /* exclamation point leg */
    stroke-dashoffset: 10;
    stroke-dasharray: 10;
    transition: stroke-dashoffset 0.3s 0.2s var(--ease-out)
}

.dow-list__icon .dow-list__icon-group>*:nth-child(9) {
    /* exclamation point dot */
    transform-origin: 10px 17.5px;
    transform: scale(0);
    transition: transform 0.3s 0.5s var(--ease-out-back)
}

.dow-list__btn--is-loading .dow-list__icon-group>*:nth-child(1) {
    stroke-dashoffset: 16
}

.dow-list__btn--is-loading .dow-list__icon-group>*:nth-child(2),
.dow-list__btn--is-loading .dow-list__icon-group *:nth-child(3) {
    opacity: 0;
    transform-origin: 10px 18px
}

.dow-list__btn--is-loading .dow-list__icon-group>*:nth-child(2) {
    transform: rotate(45deg)
}

.dow-list__btn--is-loading .dow-list__icon-group>*:nth-child(3) {
    transform: rotate(-45deg)
}

.dow-list__btn--is-loading .dow-list__icon-group>*:nth-child(4) {
    animation: dow-list-obj-4-anim 1s 0.6s infinite
}

@media not all and (pointer: fine) {

    .dow-list__icon .dow-list__icon-group>*:nth-child(1),
    .dow-list__icon .dow-list__icon-group>*:nth-child(2),
    .dow-list__icon .dow-list__icon-group>*:nth-child(3) {
        display: none
    }

    .dow-list__btn--is-loading .dow-list__icon-group>*:nth-child(4) {
        animation-delay: 0s
    }

    .dow-list__btn:hover .dow-list__btn-label {
        /* keep btn label visible */
        transform: scale(1);
        opacity: 1
    }

    .dow-list__btn.dow-list__btn--is-loading .dow-list__btn-label {
        opacity: 0
    }
}

@keyframes dow-list-obj-4-anim {
    from {
        stroke-dashoffset: 50
    }

    to {
        stroke-dashoffset: 150
    }
}

.dow-list__btn--success .dow-list__icon-group>*:nth-child(4) {
    display: none
        /* hide loading circle */
}

.dow-list__btn--success .dow-list__icon-group>*:nth-child(5) {
    stroke-dashoffset: 114
}

.dow-list__btn--success .dow-list__icon-group>*:nth-child(6) {
    stroke-dashoffset: 0
}

.dow-list__btn--error {
    animation: dow-list-btn-error-anim 0.4s 0.5s
}

.dow-list__btn--error .dow-list__icon-group>*:nth-child(4) {
    display: none
        /* hide loading circle */
}

.dow-list__btn--error .dow-list__icon-group>*:nth-child(7) {
    stroke-dashoffset: 75
}

.dow-list__btn--error .dow-list__icon-group>*:nth-child(8) {
    stroke-dashoffset: 0
}

.dow-list__btn--error .dow-list__icon-group>*:nth-child(9) {
    transform: scale(1)
}

@keyframes dow-list-btn-error-anim {

    0%,
    100% {
        transform: translateX(0)
    }

    20%,
    60% {
        transform: translateX(4px)
    }

    40%,
    80% {
        transform: translateX(-4px)
    }
}

/* -------------------------------- 

Success message

-------------------------------- */

/* Additional CSS for the smooth animation from bottom to top */
.alert {
    background-color: hsla(250, 84%, 54%, 0.2);
    color: hsl(230, 13%, 9%);
    border-radius: 0.375em;
    padding: 1rem;
    position: absolute;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    font-size: 0.9375rem;
    opacity: 0;
    /* Initially hidden */
    transform: translateY(100%);
    /* Start from below the screen */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    /* Smooth transition */
}

.alert--is-visible {
    opacity: 1;
    /* Make it visible */
    transform: translateY(0);
    /* Move to its original position */
}

.alert__icon {
    --size: 24px;
    margin-right: 0.5rem;
    color: hsl(250, 84%, 54%);
}

.alert__label {
    font-weight: 700;
}

.alert__close-btn {
    display: inline-flex;
    flex-shrink: 0;
    margin-left: 1.5rem;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.alert__close-btn .cd-icon {
    --size: 16px;
    display: block;
}

.alert__close-btn:hover {
    transform: scale(1.1);
}

.alert--success {
    background-color: hsla(170, 78%, 36%, 0.2);
}

.alert--success .alert__icon {
    color: hsl(170, 78%, 36%);
}

.alert--error {
    background-color: hsla(342, 89%, 48%, 0.2);
}

.alert--error .alert__icon {
    color: hsl(342, 89%, 48%);
}

.alert--warning {
    background-color: hsla(35, 79%, 66%, 0.2);
}

.alert--warning .alert__icon {
    color: hsl(35, 79%, 66%);
}

.alert__list {
    list-style: disc;
    list-style-position: inside;
}

.alert--is-visible {
    position: static;
    -webkit-clip-path: none;
    clip-path: none;
}


/* -------------------------------- 
  
  Utilities 
  
  -------------------------------- */

.cd-flex {
    display: flex;
}

.cd-items-center {
    align-items: center;
}

.cd-justify-between {
    justify-content: space-between;
}

.cd-margin-top-3xs {
    margin-top: 0.5rem;
}

.cd-color-inherit {
    color: inherit;
}

.game_update{
    padding: 20px;
}

.own_container{
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: var(--inner-glow), var(--shadow-ring), var(--shadow-xs);
    border-radius: var(--radius-md);
    background-color: white;
}